swagger: '2.0'
info:
  title: Kunta API
  description: Solution to combine municipality services under single API.
  version: "0.1.0"
host: demo.kuntaapi.fi
schemes:
  - https
basePath: /v1
consumes:
  - application/json;charset=utf-8
produces:
  - application/json;charset=utf-8
paths:
  /organizations:
    get:
      operationId: listOrganizations
      summary: List organizations
      description: List organizations
      parameters:
        - name: businessName
          in: query
          description: Filter by organization's business name
          type: string
        - name: businessCode
          in: query
          description: Filter by organization's business code
          type: string
        - name: search
          in: query
          description: Search organizations by free-text query
          required: false
          type: string
        - name: firstResult
          in: query
          description: First result
          required: false
          type: integer
          format: int64
        - name: maxResults
          in: query
          description: Max results
          required: false
          type: integer
          format: int64
      tags:
        - Organizations
      responses:
        200:
          description: An array of organizations
          schema:
            type: array
            items:
              $ref: '#/definitions/Organization'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}:
    get:
      operationId: findOrganization
      summary: Find organization
      description: Find organization
      parameters:
        - name: organizationId
          in: path
          description: organization id
          type: string
          required: true
      tags:
        - Organizations
      responses:
        200:
          description: Returns an organization
          schema:
            $ref: '#/definitions/Organization'
             
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/organizationServices:
    get:
      operationId: listOrganizationOrganizationServices
      summary: Organization organization service list
      description: Lists organization's organization services
      tags:
        - Organizations
        - OrganizationServices
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: firstResult
          in: query
          description: First result
          required: false
          type: integer
          format: int64
        - name: maxResults
          in: query
          description: Max results
          required: false
          type: integer
          format: int64
      responses:
        200:
          description: An array of organization services
          schema:
            type: array
            items:
              $ref: '#/definitions/OrganizationService'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    post:
      operationId: createOrganizationService
      summary: Create organization service
      description: Create organization service
      tags:
        - Organizations
        - OrganizationServices
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
        - name: body
          in: body
          description: Payload
          required: true
          schema:
            $ref: '#/definitions/OrganizationService'        
      responses:
        200:
          description: Created organization service
          schema:
            $ref: '#/definitions/Organization'  
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/organizationServices/{organizationServiceId}:
    get:
      operationId: findOrganizationService
      summary: Finds a organization service by id
      description: Find an organization service
      tags:
        - Organizations
        - OrganizationServices
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: organizationServiceId
          in: path
          description: Organization service id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: An organization service
          schema:
            $ref: '#/definitions/OrganizationService'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    put: 
      operationId: updateOrganizationService
      summary: Updates an organization service
      description: Updates organization service
      tags:
        - Organizations
        - OrganizationServices
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: organizationServiceId
          in: path
          description: Organization service id
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: Payload
          required: true
          schema:
            $ref: '#/definitions/OrganizationService'
      responses:
        200:
          description: An updated organization service
          schema:
            $ref: '#/definitions/OrganizationService'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events:
    get:
      operationId: listOrganizationEvents
      summary: Lists organizations events
      description: |
        Lists organizations events
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: startBefore
          in: query
          description: return only events starting before the date
          type: string
        - name: startAfter
          in: query
          description: return only events starting after the date
          type: string
        - name: endBefore
          in: query
          description: return only events ending before the date
          type: string
        - name: endAfter
          in: query
          description: return only events ending after the date
          type: string
        - name: firstResult
          in: query
          description: first index of results
          type: integer
          format: int32
        - name: maxResults
          in: query
          description: maximum number of results
          type: integer
          format: int32
        - name: orderBy
          in: query
          description: define order (startDate, endDate). Default is startDate
          type: string
        - name: orderDir
          in: query
          description: ascending, descending. Default is ascending
          type: string
      tags:
        - Events
      responses:
        200:
          description: Returns a list of events
          schema:
            type: array
            items:
              $ref: '#/definitions/Event'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events/{eventId}:
    get:
      operationId: findOrganizationEvent
      summary: Returns organizations event by id
      description: |
        Returns organizations event by id
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: eventId
          in: path
          description: Event id
          required: true
          type: string
          format: uuid
      tags:
        - Events
      responses:
        200:
          description: Returns a single event
          schema:
            $ref: '#/definitions/Event'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events/{eventId}/images:
    get:
      operationId: listOrganizationEventImages
      summary: Returns list of event images
      description: |
        Returns list of event images
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: eventId
          in: path
          description: Event id
          required: true
          type: string
          format: uuid
      tags:
        - Events
      responses:
        200:
          description: Returns a list of event images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events/{eventId}/images/{imageId}:
    get:
      operationId: findOrganizationEventImage
      summary: Returns an event image
      description: |
        Returns an event image 
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: eventId
          in: path
          description: Event id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Event image id
          required: true
          type: string
          format: uuid
      tags:
        - Events
      responses:
        200:
          description: Returns an event image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events/{eventId}/images/{imageId}/data:
    get:
      produces:
        - application/octet-stream
      operationId: getOrganizationEventImageData
      summary: Returns an event image data
      description: |
        Returns an event image data
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: eventId
          in: path
          description: Event id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Event image id
          required: true
          type: string
          format: uuid
        - name: size
          in: query
          description: Maximum width or height of image
          required: false
          type: integer
          format: int32
      tags:
        - Events
      responses:
        200:
          description: Returns an event image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news:
    get:
      operationId: listOrganizationNews
      summary: Lists organizations news
      description: |
        Lists organizations news
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: slug
          in: query
          description: Filter with slug
          required: false
          type: string
        - name: tag
          in: query
          description: Filter by tag
          required: false
          type: string
        - name: publishedBefore
          in: query
          description: return only news published before the date
          type: string
        - name: publishedAfter
          in: query
          description: return only news published after the date
          type: string
        - name: firstResult
          in: query
          description: first index of results
          type: integer
          format: int32
        - name: maxResults
          in: query
          description: maximum number of results
          type: integer
          format: int32
      tags:
        - News
      responses:
        200:
          description: Returns a list of news
          schema:
            type: array
            items:
              $ref: '#/definitions/NewsArticle'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news/{newsArticleId}:
    get:
      operationId: findOrganizationNewsArticle
      summary: Finds organizations news article
      description: |
        Finds organizations single news article
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: newsArticleId
          in: path
          description: News article id
          required: true
          type: string
          format: uuid
      tags:
        - News
      responses:
        200:
          description: Returns a single news article
          schema:
            $ref: '#/definitions/NewsArticle'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news/{newsArticleId}/images:
    get:
      operationId: listOrganizationNewsArticleImages
      summary: Returns list of news article images
      description: |
        Returns list of news article images
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: newsArticleId
          in: path
          description: News article id
          required: true
          type: string
          format: uuid
      tags:
        - News
      responses:
        200:
          description: Returns a news article images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news/{newsArticleId}/images/{imageId}:
    get:
      operationId: findOrganizationNewsArticleImage
      summary: Returns an news article image
      description: |
        Returns an news article image
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: newsArticleId
          in: path
          description: News article id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Event image id
          required: true
          type: string
          format: uuid
      tags:
        - News
      responses:
        200:
          description: Returns an news article image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news/{newsArticleId}/images/{imageId}/data:
    get:
      produces:
        - application/octet-stream
      operationId: getOrganizationNewsArticleImageData
      summary: Returns a news article image data
      description: |
        Returns a news article image data
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: newsArticleId
          in: path
          description: News article id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Event image id
          required: true
          type: string
          format: uuid
        - name: size
          in: query
          description: Maximum width or height of image
          required: false
          type: integer
          format: int32
      tags:
        - News
      responses:
        200:
          description: Returns a news article image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners:
    get:
      operationId: listOrganizationBanners
      summary: Lists organizations banners
      description: |
        Lists organizations banners
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
      tags:
        - Banners
      responses:
        200:
          description: Returns a list of banners
          schema:
            type: array
            items:
              $ref: '#/definitions/Banner'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners/{bannerId}:
    get:
      operationId: findOrganizationBanner
      summary: Finds organizations banner
      description: |
        Finds single organization banner
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: bannerId
          in: path
          description: banner id
          required: true
          type: string
          format: uuid
      tags:
        - Banners
      responses:
        200:
          description: Returns a single organization banner
          schema:
            $ref: '#/definitions/NewsArticle'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners/{bannerId}/images:
    get:
      operationId: listOrganizationBannerImages
      summary: Returns a list of organization banner images
      description: |
        Returns a list of organization banner images
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: bannerId
          in: path
          description: Banner id
          required: true
          type: string
          format: uuid
      tags:
        - Banners
      responses:
        200:
          description: Returns list of organization banner images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners/{bannerId}/images/{imageId}:
    get:
      operationId: findOrganizationBannerImage
      summary: Returns a single organiztion banner image
      description: |
        Returns a single organiztion banner image
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: bannerId
          in: path
          description: Banner Id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Banner image id
          required: true
          type: string
          format: uuid
      tags:
        - Banners
      responses:
        200:
          description: Returns an organization banner image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners/{bannerId}/images/{imageId}/data:
    get:
      produces:
        - application/octet-stream
      operationId: getOrganizationBannerImageData
      summary: Returns an organization banner image data
      description: |
        Returns an organization banner image data
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: bannerId
          in: path
          description: Banner id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Banner image id
          required: true
          type: string
          format: uuid
        - name: size
          in: query
          description: Maximum width or height of image
          required: false
          type: integer
          format: int32
      tags:
        - Banners
      responses:
        200:
          description: Returns an organization banner image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles:
    get:
      operationId: listOrganizationTiles
      summary: Lists organizations tiles
      description: |
        Lists organizations tiles
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
      tags:
        - Tiles
      responses:
        200:
          description: Returns a list of tiles
          schema:
            type: array
            items:
              $ref: '#/definitions/Tile'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles/{tileId}:
    get:
      operationId: findOrganizationTile
      summary: Finds organizations tile
      description: |
        Finds single organization tile
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: tileId
          in: path
          description: tile id
          required: true
          type: string
          format: uuid
      tags:
        - Tiles
      responses:
        200:
          description: Returns a single organization tile
          schema:
            $ref: '#/definitions/Tile'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles/{tileId}/images:
    get:
      operationId: listOrganizationTileImages
      summary: Returns a list of organization tile images
      description: |
        Returns a list of organization tile images
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: tileId
          in: path
          description: Tile id
          required: true
          type: string
          format: uuid
      tags:
        - Tiles
      responses:
        200:
          description: Returns list of organization tile images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles/{tileId}/images/{imageId}:
    get:
      operationId: findOrganizationTileImage
      summary: Returns a single organiztion tile image
      description: |
        Returns a single organiztion tile image
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: tileId
          in: path
          description: Tile Id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Tile image id
          required: true
          type: string
          format: uuid
      tags:
        - Tiles
      responses:
        200:
          description: Returns an organization tile image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles/{tileId}/images/{imageId}/data:
    get:
      produces:
        - application/octet-stream
      operationId: getOrganizationTileImageData
      summary: Returns an organization tile image data
      description: |
        Returns an organization tile image data
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: tileId
          in: path
          description: Tile id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Tile image id
          required: true
          type: string
          format: uuid
        - name: size
          in: query
          description: Maximum width or height of image
          required: false
          type: integer
          format: int32
      tags:
        - Tiles
      responses:
        200:
          description: Returns an organization tile image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages:
    get:
      operationId: listOrganizationPages
      summary: Lists organizations pages
      description: |
        Lists organizations pages
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: parentId
          in: query
          description: Filter results by parent id
          required: false
          type: string
          format: uuid
        - name: path
          in: query
          description: Filter results by page path
          required: false
          type: string
        - name: search
          in: query
          description: Search pages by free-text query
          required: false
          type: string
        - name: firstResult
          in: query
          description: First result
          required: false
          type: integer
          format: int64
        - name: maxResults
          in: query
          description: Max results
          required: false
          type: integer
          format: int64
      tags:
        - Pages
      responses:
        200:
          description: Returns a list of pages
          schema:
            type: array
            items:
              $ref: '#/definitions/Page'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}:
    get:
      operationId: findOrganizationPage
      summary: Finds organizations page
      description: |
        Finds single organization page
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: pageId
          in: path
          description: page id
          required: true
          type: string
          format: uuid
      tags:
        - Pages
      responses:
        200:
          description: Returns a single organization page
          schema:
            $ref: '#/definitions/Page'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}/content:
    get:
      operationId: findOrganizationPageContent
      summary: Returns organizations page content in all available languages
      description: |
        Returns single organization page content in all available languages
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: pageId
          in: path
          description: page id
          required: true
          type: string
          format: uuid
      tags:
        - Pages
      responses:
        200:
          description: Returns single page content in all available languages
          schema:
            type: array
            items:
              $ref: '#/definitions/LocalizedValue'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}/images:
    get:
      operationId: listOrganizationPageImages
      summary: Returns a list of organization page images
      description: |
        Returns a list of organization page images
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: pageId
          in: path
          description: Page id
          required: true
          type: string
          format: uuid
        - name: type
          in: query
          description: Filter by type
          type: string
      tags:
        - Pages
      responses:
        200:
          description: Returns list of organization page images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}/images/{imageId}:
    get:
      operationId: findOrganizationPageImage
      summary: Returns a single organiztion page image
      description: |
        Returns a single organiztion page image
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: pageId
          in: path
          description: Page Id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Page image id
          required: true
          type: string
          format: uuid
      tags:
        - Pages
      responses:
        200:
          description: Returns an organization page image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}/images/{imageId}/data:
    get:
      produces:
        - application/octet-stream
      operationId: getOrganizationPageImageData
      summary: Returns an organization page image data
      description: |
        Returns an organization page image data
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: pageId
          in: path
          description: Page id
          required: true
          type: string
          format: uuid
        - name: imageId
          in: path
          description: Page image id
          required: true
          type: string
          format: uuid
        - name: size
          in: query
          description: Maximum width or height of image
          required: false
          type: integer
          format: int32
      tags:
        - Pages
      responses:
        200:
          description: Returns an organization page image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/shortlinks:
    get:
      operationId: listOrganizationShortlinks
      summary: Lists organizations shortlinks
      description: |
        Lists organizations shortlinks
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: path
          in: query
          description: Filter results by path
          required: false
          type: string
        - name: firstResult
          in: query
          description: First result
          required: false
          type: integer
          format: int64
        - name: maxResults
          in: query
          description: Max results
          required: false
          type: integer
          format: int64
      tags:
        - Shortlinks
      responses:
        200:
          description: Returns a list of shortlinks
          schema:
            type: array
            items:
              $ref: '#/definitions/Shortlink'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/shortlinks/{shortlinkId}:
    get:
      operationId: findOrganizationShortlink
      summary: Finds organization shortlink
      description: |
        Finds single organization shortlink
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: shortlinkId
          in: path
          description: shortlink id
          required: true
          type: string
          format: uuid
      tags:
        - Shortlinks
      responses:
        200:
          description: Returns a single organization shortlink
          schema:
            $ref: '#/definitions/Shortlink'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/files:
    get:
      operationId: listOrganizationFiles
      summary: Lists organizations files
      description: |
        Lists organizations files
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: pageId
          in: query
          description: Filter with page
          required: false
          type: string
          format: uuid
        - name: search
          in: query
          description: Search files by free-text query
          required: false
          type: string
        - name: firstResult
          in: query
          description: First result
          required: false
          type: integer
          format: int64
        - name: maxResults
          in: query
          description: Max results
          required: false
          type: integer
          format: int64
      tags:
        - Files
      responses:
        200:
          description: Returns a list of organizations files
          schema:
            type: array
            items:
              $ref: '#/definitions/FileDef'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/files/{fileId}:
    get:
      operationId: findOrganizationFile
      summary: Finds organizations file
      description: |
        Finds single organization file
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: fileId
          in: path
          description: file id
          required: true
          type: string
          format: uuid
      tags:
        - Files
      responses:
        200:
          description: Returns a single organization file
          schema:
            $ref: '#/definitions/FileDef'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/files/{fileId}/data:
    get:
      produces:
        - application/octet-stream
      operationId: getOrganizationFileData
      summary: Returns an organization file data
      description: |
        Returns an organization file data
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: fileId
          in: path
          description: file id
          required: true
          type: string
          format: uuid
      tags:
        - Files
      responses:
        200:
          description: Returns an organization file data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/fragments:
    get:
      operationId: listOrganizationFragments
      summary: Lists organizations page fragments
      description: |
        Lists organizations page fragments
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: slug
          in: query
          description: Filter results by fragment slug
          required: false
          type: string
      tags:
        - Fragments
      responses:
        200:
          description: Returns a list of page fragments
          schema:
            type: array
            items:
              $ref: '#/definitions/Fragment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/fragments/{fragmentId}:
    get:
      operationId: findOrganizationFragment
      summary: Finds organizations page fragment
      description: |
        Finds single organization page fragment
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: fragmentId
          in: path
          description: fragment id
          required: true
          type: string
          format: uuid
      tags:
        - Fragments
      responses:
        200:
          description: Returns a single organization page fragment
          schema:
            $ref: '#/definitions/Fragment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/menus:
    get:
      operationId: listOrganizationMenus
      summary: Lists organizations menus
      description: |
        Lists organizations menus
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: slug
          in: query
          description: Filter with slug
          required: false
          type: string
      tags:
        - Menus
      responses:
        200:
          description: Returns a list of organizations menus
          schema:
            type: array
            items:
              $ref: '#/definitions/Menu'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/menus/{menuId}:
    get:
      operationId: findOrganizationMenu
      summary: Finds organizations menu
      description: |
        Finds single organization menu
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: menuId
          in: path
          description: menu id
          required: true
          type: string
          format: uuid
      tags:
        - Menus
      responses:
        200:
          description: Returns a single organization menu
          schema:
            $ref: '#/definitions/Menu'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/menus/{menuId}/items:
    get:
      operationId: listOrganizationMenuItems
      summary: Lists organizations menu items
      description: |
        Lists organization menu items
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: menuId
          in: path
          description: menu id
          required: true
          type: string
          format: uuid
      tags:
        - Menus
      responses:
        200:
          description: Returns a list of organizations menu items
          schema:
            type: array
            items:
              $ref: '#/definitions/MenuItem'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/menus/{menuId}/items/{menuItemId}:
    get:
      operationId: findOrganizationMenuItem
      summary: Finds organization menu item
      description: |
        Finds single organization menu item
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: menuId
          in: path
          description: menu id
          required: true
          type: string
          format: uuid
        - name: menuItemId
          in: path
          description: menu item id
          required: true
          type: string
          format: uuid
      tags:
        - Menus
      responses:
        200:
          description: Returns a single organization menu item
          schema:
            $ref: '#/definitions/MenuItem'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/jobs:
    get:
      operationId: listOrganizationJobs
      summary: Lists organizations jobs
      description: |
        Lists organizations jobs
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: sortBy
          in: query
          description: PUBLICATION_START or PUBLICATION_END
          required: false
          type: string
        - name: sortDir
          in: query
          description: ASC or DESC
          required: false
          type: string
        - name: firstResult
          in: query
          description: First result
          required: false
          type: integer
          format: int64
        - name: maxResults
          in: query
          description: Max results
          required: false
          type: integer
          format: int64
      tags:
        - Jobs
      responses:
        200:
          description: Returns a list of organizations jobs
          schema:
            type: array
            items:
              $ref: '#/definitions/Job'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/jobs/{jobId}:
    get:
      operationId: findOrganizationJob
      summary: Finds organizations job
      description: |
        Finds single organization job
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: jobId
          in: path
          description: job id
          required: true
          type: string
          format: uuid
      tags:
        - Jobs
      responses:
        200:
          description: Returns a single organization job
          schema:
            $ref: '#/definitions/Job'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/announcements:
    get:
      operationId: listOrganizationAnnouncements
      summary: Lists organizations announcements
      description: |
        Lists organizations announcements
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: slug
          in: query
          description: Filter with slug
          required: false
          type: string
        - name: firstResult
          in: query
          description: first index of results
          type: integer
          format: int32
        - name: maxResults
          in: query
          description: maximum number of results
          type: integer
          format: int32
        - name: sortBy
          in: query
          description: PUBLICATION_DATE
          required: false
          type: string
        - name: sortDir
          in: query
          description: ASC or DESC
          required: false
          type: string
      tags:
        - Announcements
      responses:
        200:
          description: Returns a list of announcements
          schema:
            type: array
            items:
              $ref: '#/definitions/Announcement'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/announcements/{announcementId}:
    get:
      operationId: findOrganizationAnnouncement
      summary: Finds an organizations announcement
      description: |
        Finds organization's single announcement
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: announcementId
          in: path
          description: Announcement id
          required: true
          type: string
          format: uuid
      tags:
        - Announcements
      responses:
        200:
          description: Returns a single announcement
          schema:
            $ref: '#/definitions/Announcement'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/contacts:
    get:
      operationId: listOrganizationContacts
      summary: Lists organizations contacts
      description: |
        Lists organizations contacts
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid

      tags:
        - Contacts
      responses:
        200:
          description: Returns a list of contacts
          schema:
            type: array
            items:
              $ref: '#/definitions/Contact'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/contacts/{contactId}:
    get:
      operationId: findOrganizationContact
      summary: Finds an organizations contact
      description: |
        Finds organization's single contact
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: contactId
          in: path
          description: Contact id
          required: true
          type: string
          format: uuid
      tags:
        - Contacts
      responses:
        200:
          description: Returns a single contact
          schema:
            $ref: '#/definitions/Contact'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportAgencies:
    get:
      operationId: listOrganizationPublicTransportAgencies
      summary: Lists organizations public transport agencies
      description: |
        Lists organizations public transport agencies
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid

      tags:
        - Public transport
      responses:
        200:
          description: Returns a list of public transport agencies
          schema:
            type: array
            items:
              $ref: '#/definitions/Agency'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportAgencies/{agencyId}:
    get:
      operationId: findOrganizationPublicTransportAgency
      summary: Finds an organizations public transport agency
      description: |
        Finds organization's single public transport agency
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: agencyId
          in: path
          description: Agency id
          required: true
          type: string
          format: uuid
      tags:
        - Public transport
      responses:
        200:
          description: Returns a single public transport agency
          schema:
            $ref: '#/definitions/Agency'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportRoutes:
    get:
      operationId: listOrganizationPublicTransportRoutes
      summary: Lists organizations public transport routes
      description: |
        Lists organizations public transport routes
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid

      tags:
        - Public transport
      responses:
        200:
          description: Returns a list of public transport routes
          schema:
            type: array
            items:
              $ref: '#/definitions/Route'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportRoutes/{routeId}:
    get:
      operationId: findOrganizationPublicTransportRoute
      summary: Finds an organizations public transport route
      description: |
        Finds organization's single public transport route
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: routeId
          in: path
          description: Route id
          required: true
          type: string
          format: uuid
      tags:
        - Public transport
      responses:
        200:
          description: Returns a single public transport route
          schema:
            $ref: '#/definitions/Route'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportStops:
    get:
      operationId: listOrganizationPublicTransportStops
      summary: Lists organizations public transport stops 
      description: |
        Lists organizations public transport stops
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
      tags:
        - Public transport
      responses:
        200:
          description: Returns a list of public transport stops
          schema:
            type: array
            items:
              $ref: '#/definitions/Stop'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportStops/{stopId}:
    get:
      operationId: findOrganizationPublicTransportStop
      summary: Finds a stop of organizations public transport route
      description: |
        Finds a stop of organizations public transport route
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: stopId
          in: path
          description: Stop id
          required: true
          type: string
          format: uuid
      tags:
        - Public transport
      responses:
        200:
          description: returns organizations public transport route stop
          schema:
            $ref: '#/definitions/Stop'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportSchedules:
    get:
      operationId: listOrganizationPublicTransportSchedules
      summary: Lists schedules of organization's public transport schedules
      description: |
        Lists schedules of organization's public transport schedules
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
      tags:
        - Public transport
      responses:
        200:
          description: Returns a list of organization's public transport schedules
          schema:
            type: array
            items:
              $ref: '#/definitions/Schedule'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportSchedules/{scheduleId}:
    get:
      operationId: findOrganizationPublicTransportSchedule
      summary: Finds organizations public transport schedule
      description: |
        Finds organizations public transport schedule
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: scheduleId
          in: path
          description: Schedule id
          required: true
          type: string
          format: uuid
      tags:
        - Public transport
      responses:
        200:
          description: returns an organizations public transport schedule
          schema:
            $ref: '#/definitions/Schedule'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportStopTimes:
    get:
      operationId: listOrganizationPublicTransportStopTimes
      summary: Lists stopTimes of organization's public transport stopTimes
      description: |
        Lists stopTimes of organization's public transport stopTimes
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: stopId
          in: query
          description: Filter stop times by stopId
          type: string
          format: uuid
        - name: departureTime
          in: query
          description: Filter stop times that depart in or after specified time. Value is defined in seconds since midnight
          type: integer
          format: int32
        - name: sortBy
          in: query
          description: DEPARTURE_TIME
          required: false
          type: string
        - name: sortDir
          in: query
          description: ASC or DESC
          required: false
          type: string
        - name: firstResult
          in: query
          description: First result
          required: false
          type: integer
          format: int64
        - name: maxResults
          in: query
          description: Max results
          required: false
          type: integer
          format: int64
      tags:
        - Public transport
      responses:
        200:
          description: Returns a list of organization's public transport stopTimes
          schema:
            type: array
            items:
              $ref: '#/definitions/StopTime'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportStopTimes/{stopTimeId}:
    get:
      operationId: findOrganizationPublicTransportStopTime
      summary: Finds organizations public transport stopTime
      description: |
        Finds organizations public transport stopTime
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: stopTimeId
          in: path
          description: StopTime id
          required: true
          type: string
          format: uuid
      tags:
        - Public transport
      responses:
        200:
          description: returns an organizations public transport stopTime
          schema:
            $ref: '#/definitions/StopTime'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportTrips:
    get:
      operationId: listOrganizationPublicTransportTrips
      summary: Lists trips of organization's public transport trips
      description: |
        Lists trips of organization's public transport trips
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
      tags:
        - Public transport
      responses:
        200:
          description: Returns a list of organization's public transport trips
          schema:
            type: array
            items:
              $ref: '#/definitions/Trip'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportTrips/{tripId}:
    get:
      operationId: findOrganizationPublicTransportTrip
      summary: Finds organizations public transport trip
      description: |
        Finds organizations public transport trip
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: tripId
          in: path
          description: Trip id
          required: true
          type: string
          format: uuid
      tags:
        - Public transport
      responses:
        200:
          description: returns an organizations public transport trip
          schema:
            $ref: '#/definitions/Trip'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/incidents:
    get:
      operationId: listOrganizationIncidents
      summary: Lists organizations incidents
      description: |
        Lists organizations incidents
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: startBefore
          in: query
          type: string
          format: date-time
        - name: endAfter
          in: query
          type: string
          format: date-time
        - name: area
          in: query
          description: Return only incidents from specified area
          type: integer
          format: int32
        - name: firstResult
          in: query
          description: First index of results
          type: integer
          format: int32
        - name: maxResults
          in: query
          description: Maximum number of results
          type: integer
          format: int32
        - name: orderBy
          in: query
          description: Define order (start, end)
          type: string
        - name: orderDir
          in: query
          description: Order direction (ASC, DESC). Default is ASC
          type: string
      tags:
        - Incidents
      responses:
        200:
          description: Returns a list of incidents
          schema:
            type: array
            items:
              $ref: '#/definitions/Incident'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/incidents/{incidentId}:
    get:
      operationId: findOrganizationIncident
      summary: Returns organizations incident by id
      description: |
        Returns organizations incident by id
      parameters:
        - name: organizationId
          in: path
          description: Organization id
          required: true
          type: string
          format: uuid
        - name: incidentId
          in: path
          description: Incident id
          required: true
          type: string
          format: uuid
      tags:
        - Incidents
      responses:
        200:
          description: Returns a single incident
          schema:
            $ref: '#/definitions/Incident'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /services:
    get:
      operationId: listServices
      summary: Service list
      description: Lists services
      tags:
        - Services
      parameters:
        - name: organizationId
          in: query
          description: Return only services belonging to specified organization
          required: false
          type: string
          format: uuid      
        - name: search
          in: query
          description: Search services by free-text query
          required: false
          type: string
        - name: firstResult
          in: query
          description: First result
          required: false
          type: integer
          format: int64
        - name: maxResults
          in: query
          description: Max results
          required: false
          type: integer
          format: int64
      responses:
        200:
          description: An array of services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    post:
      operationId: createService
      summary: Create service
      description: Creates new service
      tags:
        - Services
      parameters:
        - name: body
          in: body
          description: Payload
          required: true
          schema:
            $ref: '#/definitions/Service'        
      responses:
        200:
          description: Created service
          schema:
            $ref: '#/definitions/Service'  
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /services/{serviceId}:
    get:
      operationId: findService
      summary: Finds a service by id
      description: Finds service
      tags:
        - Services
      parameters:
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Returns a service
          schema:
            $ref: '#/definitions/Service'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    put: 
      operationId: updateService
      summary: Updates service
      description: Updates service
      tags:
        - Services
      parameters:
        - name: serviceId
          in: path
          description: Organization service id
          required: true
          type: string
          format: uuid
        - name: body
          in: body
          description: Payload
          required: true
          schema:
            $ref: '#/definitions/Service'
      responses:
        200:
          description: Returns an updated service
          schema:
            $ref: '#/definitions/Service'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /services/{serviceId}/electronicChannels:
    get:
      operationId: listServiceElectronicChannels
      summary: Lists ElectronicChannels by serviceId
      description: Lists ElectronicChannels by serviceId
      deprecated: true
      tags:
        - Services
        - ElectronicChannels
      parameters:
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
        - name: firstResult
          in: query
          description: First result
          required: false
          type: integer
          format: int64
        - name: maxResults
          in: query
          description: Max results
          required: false
          type: integer
          format: int64       
      responses:
        200:
          description: Returns array of ElectronicChannels
          schema:
            type: array
            items:
              $ref: '#/definitions/ElectronicServiceChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /services/{serviceId}/electronicChannels/{electronicChannelId}:
    get:
      operationId: findServiceElectronicChannel
      summary: finds ElectronicChannel by electronicChannelId
      description: finds ElectronicChannels by electronicChannelId
      deprecated: true
      tags:
        - Services
        - ElectronicChannels
      parameters:
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
        - name: electronicChannelId
          in: path
          description: electronicChannel id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Returns ElectronicChannel
          schema:
            $ref: '#/definitions/ElectronicServiceChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /services/{serviceId}/phoneChannels:
    get:
      operationId: listServicePhoneChannels
      summary: Lists PhoneChannels by serviceId
      description: Lists PhoneChannels by serviceId
      deprecated: true
      tags:
        - Services
        - PhoneChannels
      parameters:
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
        - name: firstResult
          in: query
          description: First result
          required: false
          type: integer
          format: int64
        - name: maxResults
          in: query
          description: Max results
          required: false
          type: integer
          format: int64            
      responses:
        200:
          description: Returns array of PhoneChannels
          schema:
            type: array
            items:
              $ref: '#/definitions/PhoneServiceChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /services/{serviceId}/phoneChannels/{phoneChannelId}:
    get:
      operationId: findServicePhoneChannel
      summary: finds PhoneChannel by phoneChannelId
      description: finds PhoneChannels by phoneChannelId
      deprecated: true
      tags:
        - Services
        - PhoneChannels
      parameters:
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
        - name: phoneChannelId
          in: path
          description: phoneChannel id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Returns PhoneChannel
          schema:
            $ref: '#/definitions/PhoneServiceChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /services/{serviceId}/printableFormChannels:
    get:
      operationId: listServicePrintableFormChannels
      summary: Lists PrintableFormChannels by serviceId
      description: Lists PrintableFormChannels by serviceId
      deprecated: true
      tags:
        - Services
        - PrintableFormChannels
      parameters:
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
        - name: firstResult
          in: query
          description: First result
          required: false
          type: integer
          format: int64
        - name: maxResults
          in: query
          description: Max results
          required: false
          type: integer
          format: int64             
      responses:
        200:
          description: Returns array of PrintableFormChannels
          schema:
            type: array
            items:
              $ref: '#/definitions/PrintableFormServiceChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /services/{serviceId}/printableFormChannels/{printableFormChannelId}:
    get:
      operationId: findServicePrintableFormChannel
      summary: finds PrintableFormChannel by printableFormChannelId
      description: finds PrintableFormChannels by printableFormChannelId
      deprecated: true
      tags:
        - Services
        - PrintableFormChannels
      parameters:
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
        - name: printableFormChannelId
          in: path
          description: printableFormChannel id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Returns PrintableFormChannel
          schema:
            $ref: '#/definitions/PrintableFormServiceChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /services/{serviceId}/serviceLocationChannels:
    get:
      operationId: listServiceServiceLocationChannels
      summary: Lists ServiceLocationChannels by serviceId
      description: Lists ServiceLocationChannels by serviceId
      deprecated: true
      tags:
        - Services
        - ServiceLocationChannels
      parameters:
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
        - name: firstResult
          in: query
          description: First result
          required: false
          type: integer
          format: int64
        - name: maxResults
          in: query
          description: Max results
          required: false
          type: integer
          format: int64             
      responses:
        200:
          description: Returns array of ServiceLocationChannels
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceLocationServiceChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'    
  /services/{serviceId}/serviceLocationChannels/{serviceLocationChannelId}:
    get:
      operationId: findServiceServiceLocationChannel
      summary: finds ServiceLocationChannel by serviceLocationChannelId
      description: finds ServiceLocationChannels by serviceLocationChannelId
      deprecated: true
      tags:
        - Services
        - ServiceLocationChannels
      parameters:
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
        - name: serviceLocationChannelId
          in: path
          description: serviceLocationChannel id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Returns ServiceLocationChannel
          schema:
            $ref: '#/definitions/ServiceLocationServiceChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'    
  /services/{serviceId}/webPageChannels:
    get:
      operationId: listServiceWebPageChannels
      summary: Lists WebPageChannels by serviceId
      description: Lists WebPageChannels by serviceId
      deprecated: true
      tags:
        - Services
        - WebPageChannels
      parameters:
        - name: serviceId
          in: path
          description: Service id
          required: true
          type: string
          format: uuid
        - name: firstResult
          in: query
          description: First result
          required: false
          type: integer
          format: int64
        - name: maxResults
          in: query
          description: Max results
          required: false
          type: integer
          format: int64             
      responses:
        200:
          description: Returns array of WebPageChannels
          schema:
            type: array
            items:
              $ref: '#/definitions/WebPageServiceChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
[...]
