/**
 * Kunta API
 * Solution to combine municipality services under single API.
 *
 * OpenAPI spec version: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package fi.metatavu.kuntaapi.client;

import fi.metatavu.kuntaapi.ApiCallback;
import fi.metatavu.kuntaapi.ApiClient;
import fi.metatavu.kuntaapi.ApiException;
import fi.metatavu.kuntaapi.ApiResponse;
import fi.metatavu.kuntaapi.Configuration;
import fi.metatavu.kuntaapi.Pair;
import fi.metatavu.kuntaapi.ProgressRequestBody;
import fi.metatavu.kuntaapi.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import fi.metatavu.kuntaapi.client.model.BadRequest;
import fi.metatavu.kuntaapi.client.model.Announcement;
import fi.metatavu.kuntaapi.client.model.Forbidden;
import fi.metatavu.kuntaapi.client.model.InternalServerError;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AnnouncementsApi {
    private ApiClient apiClient;

    public AnnouncementsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AnnouncementsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for findOrganizationAnnouncement */
    private com.squareup.okhttp.Call findOrganizationAnnouncementCall(String organizationId, String announcementId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'organizationId' is set
        if (organizationId == null) {
            throw new ApiException("Missing the required parameter 'organizationId' when calling findOrganizationAnnouncement(Async)");
        }
        
        // verify the required parameter 'announcementId' is set
        if (announcementId == null) {
            throw new ApiException("Missing the required parameter 'announcementId' when calling findOrganizationAnnouncement(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/organizations/{organizationId}/announcements/{announcementId}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "organizationId" + "\\}", apiClient.escapeString(organizationId.toString()))
        .replaceAll("\\{" + "announcementId" + "\\}", apiClient.escapeString(announcementId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Finds an organizations announcement
     * Finds organization&#39;s single announcement 
     * @param organizationId Organization id (required)
     * @param announcementId Announcement id (required)
     * @return Announcement
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Announcement findOrganizationAnnouncement(String organizationId, String announcementId) throws ApiException {
        ApiResponse<Announcement> resp = findOrganizationAnnouncementWithHttpInfo(organizationId, announcementId);
        return resp.getData();
    }

    /**
     * Finds an organizations announcement
     * Finds organization&#39;s single announcement 
     * @param organizationId Organization id (required)
     * @param announcementId Announcement id (required)
     * @return ApiResponse&lt;Announcement&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Announcement> findOrganizationAnnouncementWithHttpInfo(String organizationId, String announcementId) throws ApiException {
        com.squareup.okhttp.Call call = findOrganizationAnnouncementCall(organizationId, announcementId, null, null);
        Type localVarReturnType = new TypeToken<Announcement>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Finds an organizations announcement (asynchronously)
     * Finds organization&#39;s single announcement 
     * @param organizationId Organization id (required)
     * @param announcementId Announcement id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call findOrganizationAnnouncementAsync(String organizationId, String announcementId, final ApiCallback<Announcement> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = findOrganizationAnnouncementCall(organizationId, announcementId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Announcement>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for listOrganizationAnnouncements */
    private com.squareup.okhttp.Call listOrganizationAnnouncementsCall(String organizationId, String slug, Integer firstResult, Integer maxResults, String sortBy, String sortDir, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'organizationId' is set
        if (organizationId == null) {
            throw new ApiException("Missing the required parameter 'organizationId' when calling listOrganizationAnnouncements(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/organizations/{organizationId}/announcements".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "organizationId" + "\\}", apiClient.escapeString(organizationId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (slug != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "slug", slug));
        if (firstResult != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "firstResult", firstResult));
        if (maxResults != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maxResults", maxResults));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sortBy", sortBy));
        if (sortDir != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sortDir", sortDir));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Lists organizations announcements
     * Lists organizations announcements 
     * @param organizationId Organization id (required)
     * @param slug Filter with slug (optional)
     * @param firstResult first index of results (optional)
     * @param maxResults maximum number of results (optional)
     * @param sortBy PUBLICATION_DATE (optional)
     * @param sortDir ASC or DESC (optional)
     * @return List&lt;Announcement&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Announcement> listOrganizationAnnouncements(String organizationId, String slug, Integer firstResult, Integer maxResults, String sortBy, String sortDir) throws ApiException {
        ApiResponse<List<Announcement>> resp = listOrganizationAnnouncementsWithHttpInfo(organizationId, slug, firstResult, maxResults, sortBy, sortDir);
        return resp.getData();
    }

    /**
     * Lists organizations announcements
     * Lists organizations announcements 
     * @param organizationId Organization id (required)
     * @param slug Filter with slug (optional)
     * @param firstResult first index of results (optional)
     * @param maxResults maximum number of results (optional)
     * @param sortBy PUBLICATION_DATE (optional)
     * @param sortDir ASC or DESC (optional)
     * @return ApiResponse&lt;List&lt;Announcement&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Announcement>> listOrganizationAnnouncementsWithHttpInfo(String organizationId, String slug, Integer firstResult, Integer maxResults, String sortBy, String sortDir) throws ApiException {
        com.squareup.okhttp.Call call = listOrganizationAnnouncementsCall(organizationId, slug, firstResult, maxResults, sortBy, sortDir, null, null);
        Type localVarReturnType = new TypeToken<List<Announcement>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists organizations announcements (asynchronously)
     * Lists organizations announcements 
     * @param organizationId Organization id (required)
     * @param slug Filter with slug (optional)
     * @param firstResult first index of results (optional)
     * @param maxResults maximum number of results (optional)
     * @param sortBy PUBLICATION_DATE (optional)
     * @param sortDir ASC or DESC (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listOrganizationAnnouncementsAsync(String organizationId, String slug, Integer firstResult, Integer maxResults, String sortBy, String sortDir, final ApiCallback<List<Announcement>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listOrganizationAnnouncementsCall(organizationId, slug, firstResult, maxResults, sortBy, sortDir, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<Announcement>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
