/**
 * Kunta API
 * Solution to combine municipality services under single API.
 *
 * OpenAPI spec version: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package fi.metatavu.kuntaapi.client;

import fi.metatavu.kuntaapi.ApiCallback;
import fi.metatavu.kuntaapi.ApiClient;
import fi.metatavu.kuntaapi.ApiException;
import fi.metatavu.kuntaapi.ApiResponse;
import fi.metatavu.kuntaapi.Configuration;
import fi.metatavu.kuntaapi.Pair;
import fi.metatavu.kuntaapi.ProgressRequestBody;
import fi.metatavu.kuntaapi.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import fi.metatavu.kuntaapi.client.model.BadRequest;
import fi.metatavu.kuntaapi.client.model.Forbidden;
import fi.metatavu.kuntaapi.client.model.Emergency;
import fi.metatavu.kuntaapi.client.model.InternalServerError;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class EmergenciesApi {
    private ApiClient apiClient;

    public EmergenciesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public EmergenciesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for findOrganizationEmergency */
    private com.squareup.okhttp.Call findOrganizationEmergencyCall(String organizationId, String emergencyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'organizationId' is set
        if (organizationId == null) {
            throw new ApiException("Missing the required parameter 'organizationId' when calling findOrganizationEmergency(Async)");
        }
        
        // verify the required parameter 'emergencyId' is set
        if (emergencyId == null) {
            throw new ApiException("Missing the required parameter 'emergencyId' when calling findOrganizationEmergency(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/organizations/{organizationId}/emergencies/{emergencyId}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "organizationId" + "\\}", apiClient.escapeString(organizationId.toString()))
        .replaceAll("\\{" + "emergencyId" + "\\}", apiClient.escapeString(emergencyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Returns organizations emergency by id
     * Returns organizations emergency by id 
     * @param organizationId Organization id (required)
     * @param emergencyId Emergency id (required)
     * @return Emergency
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Emergency findOrganizationEmergency(String organizationId, String emergencyId) throws ApiException {
        ApiResponse<Emergency> resp = findOrganizationEmergencyWithHttpInfo(organizationId, emergencyId);
        return resp.getData();
    }

    /**
     * Returns organizations emergency by id
     * Returns organizations emergency by id 
     * @param organizationId Organization id (required)
     * @param emergencyId Emergency id (required)
     * @return ApiResponse&lt;Emergency&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Emergency> findOrganizationEmergencyWithHttpInfo(String organizationId, String emergencyId) throws ApiException {
        com.squareup.okhttp.Call call = findOrganizationEmergencyCall(organizationId, emergencyId, null, null);
        Type localVarReturnType = new TypeToken<Emergency>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Returns organizations emergency by id (asynchronously)
     * Returns organizations emergency by id 
     * @param organizationId Organization id (required)
     * @param emergencyId Emergency id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call findOrganizationEmergencyAsync(String organizationId, String emergencyId, final ApiCallback<Emergency> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = findOrganizationEmergencyCall(organizationId, emergencyId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Emergency>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for listOrganizationEmergencies */
    private com.squareup.okhttp.Call listOrganizationEmergenciesCall(String organizationId, String location, String before, String after, Integer firstResult, Integer maxResults, String orderBy, String orderDir, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'organizationId' is set
        if (organizationId == null) {
            throw new ApiException("Missing the required parameter 'organizationId' when calling listOrganizationEmergencies(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/organizations/{organizationId}/emergencies".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "organizationId" + "\\}", apiClient.escapeString(organizationId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (location != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "location", location));
        if (before != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "before", before));
        if (after != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "after", after));
        if (firstResult != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "firstResult", firstResult));
        if (maxResults != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maxResults", maxResults));
        if (orderBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "orderBy", orderBy));
        if (orderDir != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "orderDir", orderDir));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Lists organizations emergencies
     * Lists organizations emergencies 
     * @param organizationId Organization id (required)
     * @param location Return emergencies by location (optional)
     * @param before Return emergencies before specified time (optional)
     * @param after Return emergencies after specified time (optional)
     * @param firstResult First index of results (optional)
     * @param maxResults Maximum number of results (optional)
     * @param orderBy Define order (NATURAL, START) (optional)
     * @param orderDir Order direction (ASC, DESC). Default is ASC (optional)
     * @return List&lt;Emergency&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Emergency> listOrganizationEmergencies(String organizationId, String location, String before, String after, Integer firstResult, Integer maxResults, String orderBy, String orderDir) throws ApiException {
        ApiResponse<List<Emergency>> resp = listOrganizationEmergenciesWithHttpInfo(organizationId, location, before, after, firstResult, maxResults, orderBy, orderDir);
        return resp.getData();
    }

    /**
     * Lists organizations emergencies
     * Lists organizations emergencies 
     * @param organizationId Organization id (required)
     * @param location Return emergencies by location (optional)
     * @param before Return emergencies before specified time (optional)
     * @param after Return emergencies after specified time (optional)
     * @param firstResult First index of results (optional)
     * @param maxResults Maximum number of results (optional)
     * @param orderBy Define order (NATURAL, START) (optional)
     * @param orderDir Order direction (ASC, DESC). Default is ASC (optional)
     * @return ApiResponse&lt;List&lt;Emergency&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Emergency>> listOrganizationEmergenciesWithHttpInfo(String organizationId, String location, String before, String after, Integer firstResult, Integer maxResults, String orderBy, String orderDir) throws ApiException {
        com.squareup.okhttp.Call call = listOrganizationEmergenciesCall(organizationId, location, before, after, firstResult, maxResults, orderBy, orderDir, null, null);
        Type localVarReturnType = new TypeToken<List<Emergency>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists organizations emergencies (asynchronously)
     * Lists organizations emergencies 
     * @param organizationId Organization id (required)
     * @param location Return emergencies by location (optional)
     * @param before Return emergencies before specified time (optional)
     * @param after Return emergencies after specified time (optional)
     * @param firstResult First index of results (optional)
     * @param maxResults Maximum number of results (optional)
     * @param orderBy Define order (NATURAL, START) (optional)
     * @param orderDir Order direction (ASC, DESC). Default is ASC (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listOrganizationEmergenciesAsync(String organizationId, String location, String before, String after, Integer firstResult, Integer maxResults, String orderBy, String orderDir, final ApiCallback<List<Emergency>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listOrganizationEmergenciesCall(organizationId, location, before, after, firstResult, maxResults, orderBy, orderDir, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<Emergency>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
