/**
 * Kunta API
 * Solution to combine municipality services under single API.
 *
 * OpenAPI spec version: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package fi.metatavu.kuntaapi.client;

import fi.metatavu.kuntaapi.ApiCallback;
import fi.metatavu.kuntaapi.ApiClient;
import fi.metatavu.kuntaapi.ApiException;
import fi.metatavu.kuntaapi.ApiResponse;
import fi.metatavu.kuntaapi.Configuration;
import fi.metatavu.kuntaapi.Pair;
import fi.metatavu.kuntaapi.ProgressRequestBody;
import fi.metatavu.kuntaapi.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import fi.metatavu.kuntaapi.client.model.BadRequest;
import fi.metatavu.kuntaapi.client.model.Forbidden;
import fi.metatavu.kuntaapi.client.model.Incident;
import fi.metatavu.kuntaapi.client.model.InternalServerError;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class IncidentsApi {
    private ApiClient apiClient;

    public IncidentsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public IncidentsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for findOrganizationIncident */
    private com.squareup.okhttp.Call findOrganizationIncidentCall(String organizationId, String incidentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'organizationId' is set
        if (organizationId == null) {
            throw new ApiException("Missing the required parameter 'organizationId' when calling findOrganizationIncident(Async)");
        }
        
        // verify the required parameter 'incidentId' is set
        if (incidentId == null) {
            throw new ApiException("Missing the required parameter 'incidentId' when calling findOrganizationIncident(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/organizations/{organizationId}/incidents/{incidentId}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "organizationId" + "\\}", apiClient.escapeString(organizationId.toString()))
        .replaceAll("\\{" + "incidentId" + "\\}", apiClient.escapeString(incidentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Returns organizations incident by id
     * Returns organizations incident by id 
     * @param organizationId Organization id (required)
     * @param incidentId Incident id (required)
     * @return Incident
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Incident findOrganizationIncident(String organizationId, String incidentId) throws ApiException {
        ApiResponse<Incident> resp = findOrganizationIncidentWithHttpInfo(organizationId, incidentId);
        return resp.getData();
    }

    /**
     * Returns organizations incident by id
     * Returns organizations incident by id 
     * @param organizationId Organization id (required)
     * @param incidentId Incident id (required)
     * @return ApiResponse&lt;Incident&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Incident> findOrganizationIncidentWithHttpInfo(String organizationId, String incidentId) throws ApiException {
        com.squareup.okhttp.Call call = findOrganizationIncidentCall(organizationId, incidentId, null, null);
        Type localVarReturnType = new TypeToken<Incident>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Returns organizations incident by id (asynchronously)
     * Returns organizations incident by id 
     * @param organizationId Organization id (required)
     * @param incidentId Incident id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call findOrganizationIncidentAsync(String organizationId, String incidentId, final ApiCallback<Incident> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = findOrganizationIncidentCall(organizationId, incidentId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Incident>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for listOrganizationIncidents */
    private com.squareup.okhttp.Call listOrganizationIncidentsCall(String organizationId, String slug, String startBefore, String endAfter, Integer area, Integer firstResult, Integer maxResults, String orderBy, String orderDir, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'organizationId' is set
        if (organizationId == null) {
            throw new ApiException("Missing the required parameter 'organizationId' when calling listOrganizationIncidents(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/organizations/{organizationId}/incidents".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "organizationId" + "\\}", apiClient.escapeString(organizationId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (slug != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "slug", slug));
        if (startBefore != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "startBefore", startBefore));
        if (endAfter != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "endAfter", endAfter));
        if (area != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "area", area));
        if (firstResult != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "firstResult", firstResult));
        if (maxResults != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maxResults", maxResults));
        if (orderBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "orderBy", orderBy));
        if (orderDir != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "orderDir", orderDir));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Lists organizations incidents
     * Lists organizations incidents 
     * @param organizationId Organization id (required)
     * @param slug Filter with slug (optional)
     * @param startBefore  (optional)
     * @param endAfter  (optional)
     * @param area Return only incidents from specified area (optional)
     * @param firstResult First index of results (optional)
     * @param maxResults Maximum number of results (optional)
     * @param orderBy Define order (start, end) (optional)
     * @param orderDir Order direction (ASC, DESC). Default is ASC (optional)
     * @return List&lt;Incident&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Incident> listOrganizationIncidents(String organizationId, String slug, String startBefore, String endAfter, Integer area, Integer firstResult, Integer maxResults, String orderBy, String orderDir) throws ApiException {
        ApiResponse<List<Incident>> resp = listOrganizationIncidentsWithHttpInfo(organizationId, slug, startBefore, endAfter, area, firstResult, maxResults, orderBy, orderDir);
        return resp.getData();
    }

    /**
     * Lists organizations incidents
     * Lists organizations incidents 
     * @param organizationId Organization id (required)
     * @param slug Filter with slug (optional)
     * @param startBefore  (optional)
     * @param endAfter  (optional)
     * @param area Return only incidents from specified area (optional)
     * @param firstResult First index of results (optional)
     * @param maxResults Maximum number of results (optional)
     * @param orderBy Define order (start, end) (optional)
     * @param orderDir Order direction (ASC, DESC). Default is ASC (optional)
     * @return ApiResponse&lt;List&lt;Incident&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Incident>> listOrganizationIncidentsWithHttpInfo(String organizationId, String slug, String startBefore, String endAfter, Integer area, Integer firstResult, Integer maxResults, String orderBy, String orderDir) throws ApiException {
        com.squareup.okhttp.Call call = listOrganizationIncidentsCall(organizationId, slug, startBefore, endAfter, area, firstResult, maxResults, orderBy, orderDir, null, null);
        Type localVarReturnType = new TypeToken<List<Incident>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists organizations incidents (asynchronously)
     * Lists organizations incidents 
     * @param organizationId Organization id (required)
     * @param slug Filter with slug (optional)
     * @param startBefore  (optional)
     * @param endAfter  (optional)
     * @param area Return only incidents from specified area (optional)
     * @param firstResult First index of results (optional)
     * @param maxResults Maximum number of results (optional)
     * @param orderBy Define order (start, end) (optional)
     * @param orderDir Order direction (ASC, DESC). Default is ASC (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listOrganizationIncidentsAsync(String organizationId, String slug, String startBefore, String endAfter, Integer area, Integer firstResult, Integer maxResults, String orderBy, String orderDir, final ApiCallback<List<Incident>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listOrganizationIncidentsCall(organizationId, slug, startBefore, endAfter, area, firstResult, maxResults, orderBy, orderDir, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<Incident>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
