/**
 * Kunta API
 * Solution to combine municipality services under single API.
 *
 * OpenAPI spec version: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package fi.metatavu.kuntaapi.client;

import fi.metatavu.kuntaapi.ApiCallback;
import fi.metatavu.kuntaapi.ApiClient;
import fi.metatavu.kuntaapi.ApiException;
import fi.metatavu.kuntaapi.ApiResponse;
import fi.metatavu.kuntaapi.Configuration;
import fi.metatavu.kuntaapi.Pair;
import fi.metatavu.kuntaapi.ProgressRequestBody;
import fi.metatavu.kuntaapi.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import fi.metatavu.kuntaapi.client.model.BadRequest;
import fi.metatavu.kuntaapi.client.model.PhoneServiceChannel;
import fi.metatavu.kuntaapi.client.model.Forbidden;
import fi.metatavu.kuntaapi.client.model.InternalServerError;
import fi.metatavu.kuntaapi.client.model.NotFound;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PhoneServiceChannelsApi {
    private ApiClient apiClient;

    public PhoneServiceChannelsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PhoneServiceChannelsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for findPhoneServiceChannel */
    private com.squareup.okhttp.Call findPhoneServiceChannelCall(String phoneServiceChannelId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'phoneServiceChannelId' is set
        if (phoneServiceChannelId == null) {
            throw new ApiException("Missing the required parameter 'phoneServiceChannelId' when calling findPhoneServiceChannel(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/phoneServiceChannels/{phoneServiceChannelId}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "phoneServiceChannelId" + "\\}", apiClient.escapeString(phoneServiceChannelId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Finds a phone service channel by id
     * Finds a phone service channel by id
     * @param phoneServiceChannelId Phone service channel id (required)
     * @return PhoneServiceChannel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PhoneServiceChannel findPhoneServiceChannel(String phoneServiceChannelId) throws ApiException {
        ApiResponse<PhoneServiceChannel> resp = findPhoneServiceChannelWithHttpInfo(phoneServiceChannelId);
        return resp.getData();
    }

    /**
     * Finds a phone service channel by id
     * Finds a phone service channel by id
     * @param phoneServiceChannelId Phone service channel id (required)
     * @return ApiResponse&lt;PhoneServiceChannel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PhoneServiceChannel> findPhoneServiceChannelWithHttpInfo(String phoneServiceChannelId) throws ApiException {
        com.squareup.okhttp.Call call = findPhoneServiceChannelCall(phoneServiceChannelId, null, null);
        Type localVarReturnType = new TypeToken<PhoneServiceChannel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Finds a phone service channel by id (asynchronously)
     * Finds a phone service channel by id
     * @param phoneServiceChannelId Phone service channel id (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call findPhoneServiceChannelAsync(String phoneServiceChannelId, final ApiCallback<PhoneServiceChannel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = findPhoneServiceChannelCall(phoneServiceChannelId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PhoneServiceChannel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for listPhoneServiceChannels */
    private com.squareup.okhttp.Call listPhoneServiceChannelsCall(String organizationId, String search, String sortBy, String sortDir, Long firstResult, Long maxResults, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/phoneServiceChannels".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (organizationId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "organizationId", organizationId));
        if (search != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "search", search));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sortBy", sortBy));
        if (sortDir != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sortDir", sortDir));
        if (firstResult != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "firstResult", firstResult));
        if (maxResults != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maxResults", maxResults));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Lists phone service channels
     * Lists phone service channels
     * @param organizationId Organization id (optional)
     * @param search Search channels by free-text query (optional)
     * @param sortBy define order (NATURAL or SCORE). Default is NATURAL (optional)
     * @param sortDir ASC or DESC. Default is ASC (optional)
     * @param firstResult First result (optional)
     * @param maxResults Max results (optional)
     * @return List&lt;PhoneServiceChannel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<PhoneServiceChannel> listPhoneServiceChannels(String organizationId, String search, String sortBy, String sortDir, Long firstResult, Long maxResults) throws ApiException {
        ApiResponse<List<PhoneServiceChannel>> resp = listPhoneServiceChannelsWithHttpInfo(organizationId, search, sortBy, sortDir, firstResult, maxResults);
        return resp.getData();
    }

    /**
     * Lists phone service channels
     * Lists phone service channels
     * @param organizationId Organization id (optional)
     * @param search Search channels by free-text query (optional)
     * @param sortBy define order (NATURAL or SCORE). Default is NATURAL (optional)
     * @param sortDir ASC or DESC. Default is ASC (optional)
     * @param firstResult First result (optional)
     * @param maxResults Max results (optional)
     * @return ApiResponse&lt;List&lt;PhoneServiceChannel&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<PhoneServiceChannel>> listPhoneServiceChannelsWithHttpInfo(String organizationId, String search, String sortBy, String sortDir, Long firstResult, Long maxResults) throws ApiException {
        com.squareup.okhttp.Call call = listPhoneServiceChannelsCall(organizationId, search, sortBy, sortDir, firstResult, maxResults, null, null);
        Type localVarReturnType = new TypeToken<List<PhoneServiceChannel>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists phone service channels (asynchronously)
     * Lists phone service channels
     * @param organizationId Organization id (optional)
     * @param search Search channels by free-text query (optional)
     * @param sortBy define order (NATURAL or SCORE). Default is NATURAL (optional)
     * @param sortDir ASC or DESC. Default is ASC (optional)
     * @param firstResult First result (optional)
     * @param maxResults Max results (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listPhoneServiceChannelsAsync(String organizationId, String search, String sortBy, String sortDir, Long firstResult, Long maxResults, final ApiCallback<List<PhoneServiceChannel>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listPhoneServiceChannelsCall(organizationId, search, sortBy, sortDir, firstResult, maxResults, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<PhoneServiceChannel>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for updatePhoneServiceChannel */
    private com.squareup.okhttp.Call updatePhoneServiceChannelCall(String phoneServiceChannelId, PhoneServiceChannel payload, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = payload;
        
        // verify the required parameter 'phoneServiceChannelId' is set
        if (phoneServiceChannelId == null) {
            throw new ApiException("Missing the required parameter 'phoneServiceChannelId' when calling updatePhoneServiceChannel(Async)");
        }
        
        // verify the required parameter 'payload' is set
        if (payload == null) {
            throw new ApiException("Missing the required parameter 'payload' when calling updatePhoneServiceChannel(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/phoneServiceChannels/{phoneServiceChannelId}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "phoneServiceChannelId" + "\\}", apiClient.escapeString(phoneServiceChannelId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "basicAuth" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Updates a channel
     * Updates a service channel
     * @param phoneServiceChannelId phone channel id (required)
     * @param payload New phone service data (required)
     * @return PhoneServiceChannel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PhoneServiceChannel updatePhoneServiceChannel(String phoneServiceChannelId, PhoneServiceChannel payload) throws ApiException {
        ApiResponse<PhoneServiceChannel> resp = updatePhoneServiceChannelWithHttpInfo(phoneServiceChannelId, payload);
        return resp.getData();
    }

    /**
     * Updates a channel
     * Updates a service channel
     * @param phoneServiceChannelId phone channel id (required)
     * @param payload New phone service data (required)
     * @return ApiResponse&lt;PhoneServiceChannel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PhoneServiceChannel> updatePhoneServiceChannelWithHttpInfo(String phoneServiceChannelId, PhoneServiceChannel payload) throws ApiException {
        com.squareup.okhttp.Call call = updatePhoneServiceChannelCall(phoneServiceChannelId, payload, null, null);
        Type localVarReturnType = new TypeToken<PhoneServiceChannel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Updates a channel (asynchronously)
     * Updates a service channel
     * @param phoneServiceChannelId phone channel id (required)
     * @param payload New phone service data (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updatePhoneServiceChannelAsync(String phoneServiceChannelId, PhoneServiceChannel payload, final ApiCallback<PhoneServiceChannel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updatePhoneServiceChannelCall(phoneServiceChannelId, payload, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PhoneServiceChannel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
