{
  "swagger" : "2.0",
  "info" : {
    "description" : "One API to rule them all. One API to find them, One API to bring them all and in the darkness bind them.",
    "version" : "0.0.1",
    "title" : "Kunta API"
  },
  "host" : "demo.kuntaapi.fi",
  "basePath" : "/v1",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json;charset=utf-8" ],
  "produces" : [ "application/json;charset=utf-8" ],
  "paths" : {
    "/organizations" : {
      "get" : {
        "tags" : [ "Organizations" ],
        "summary" : "List organizations",
        "description" : "List organizations",
        "operationId" : "listOrganizations",
        "parameters" : [ {
          "name" : "businessName",
          "in" : "query",
          "description" : "Filter by organization's business name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "businessCode",
          "in" : "query",
          "description" : "Filter by organization's business code",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of organizations",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Organization"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}" : {
      "get" : {
        "tags" : [ "Organizations" ],
        "summary" : "Find organization",
        "description" : "Find organization",
        "operationId" : "findOrganization",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "organization id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an organization",
            "schema" : {
              "$ref" : "#/definitions/Organization"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/banners" : {
      "get" : {
        "tags" : [ "Banners" ],
        "summary" : "Lists organizations banners",
        "description" : "Lists organizations banners\n",
        "operationId" : "listOrganizationBanners",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a list of banners",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Banner"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/banners/{bannerId}" : {
      "get" : {
        "tags" : [ "Banners" ],
        "summary" : "Finds organizations banner",
        "description" : "Finds single organization banner\n",
        "operationId" : "findOrganizationBanner",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "bannerId",
          "in" : "path",
          "description" : "banner id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a single organization banner",
            "schema" : {
              "$ref" : "#/definitions/NewsArticle"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/banners/{bannerId}/images" : {
      "get" : {
        "tags" : [ "Banners" ],
        "summary" : "Returns a list of organization banner images",
        "description" : "Returns a list of organization banner images\n",
        "operationId" : "listOrganizationBannerImages",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "bannerId",
          "in" : "path",
          "description" : "Banner id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns list of organization banner images",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Attachment"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/banners/{bannerId}/images/{imageId}" : {
      "get" : {
        "tags" : [ "News" ],
        "summary" : "Returns a single organiztion banner image",
        "description" : "Returns a single organiztion banner image\n",
        "operationId" : "findOrganizationBannerImage",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "bannerId",
          "in" : "path",
          "description" : "Banner Id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "imageId",
          "in" : "path",
          "description" : "Banner image id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an organization banner image",
            "schema" : {
              "$ref" : "#/definitions/Attachment"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/banners/{bannerId}/images/{imageId}/data" : {
      "get" : {
        "tags" : [ "News" ],
        "summary" : "Returns an organization banner image data",
        "description" : "Returns an organization banner image data\n",
        "operationId" : "getOrganizationBannerImageData",
        "produces" : [ "application/octet-stream" ],
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "bannerId",
          "in" : "path",
          "description" : "Banner id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "imageId",
          "in" : "path",
          "description" : "Banner image id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Maximum width or height of image",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an organization banner image data",
            "schema" : {
              "type" : "string",
              "format" : "binary"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/events" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Lists organizations events",
        "description" : "Lists organizations events\n",
        "operationId" : "listOrganizationEvents",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "startBefore",
          "in" : "query",
          "description" : "return only events starting before the date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "startAfter",
          "in" : "query",
          "description" : "return only events starting after the date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endBefore",
          "in" : "query",
          "description" : "return only events ending before the date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endAfter",
          "in" : "query",
          "description" : "return only events ending after the date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstResult",
          "in" : "query",
          "description" : "first index of results",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "maxResults",
          "in" : "query",
          "description" : "maximum number of results",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "orderBy",
          "in" : "query",
          "description" : "define order (startDate, endDate). Default is startDate",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "orderDir",
          "in" : "query",
          "description" : "ascending, descending. Default is ascending",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a list of events",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Event"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/events/{eventId}" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Returns organizations event by id",
        "description" : "Returns organizations event by id\n",
        "operationId" : "findOrganizationEvent",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "Event id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a single event",
            "schema" : {
              "$ref" : "#/definitions/Event"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/events/{eventId}/images" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Returns list of event images",
        "description" : "Returns list of event images\n",
        "operationId" : "listOrganizationEventImages",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "Event id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a list of event images",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Attachment"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/events/{eventId}/images/{imageId}" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Returns an event image",
        "description" : "Returns an event image \n",
        "operationId" : "findOrganizationEventImage",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "Event id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "imageId",
          "in" : "path",
          "description" : "Event image id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an event image",
            "schema" : {
              "$ref" : "#/definitions/Attachment"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/events/{eventId}/images/{imageId}/data" : {
      "get" : {
        "tags" : [ "Events" ],
        "summary" : "Returns an event image data",
        "description" : "Returns an event image data\n",
        "operationId" : "getOrganizationEventImageData",
        "produces" : [ "application/octet-stream" ],
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "eventId",
          "in" : "path",
          "description" : "Event id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "imageId",
          "in" : "path",
          "description" : "Event image id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Maximum width or height of image",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an event image data",
            "schema" : {
              "type" : "string",
              "format" : "binary"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/files" : {
      "get" : {
        "tags" : [ "Files" ],
        "summary" : "Lists organizations files",
        "description" : "Lists organizations files\n",
        "operationId" : "listOrganizationFiles",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "pageId",
          "in" : "query",
          "description" : "Filter with page",
          "required" : false,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a list of organizations files",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/File"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/files/{fileId}" : {
      "get" : {
        "tags" : [ "Files" ],
        "summary" : "Finds organizations file",
        "description" : "Finds single organization file\n",
        "operationId" : "findOrganizationFile",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "fileId",
          "in" : "path",
          "description" : "file id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a single organization file",
            "schema" : {
              "$ref" : "#/definitions/Page"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/files/{fileId}/data" : {
      "get" : {
        "tags" : [ "Files" ],
        "summary" : "Returns an organization file data",
        "description" : "Returns an organization file data\n",
        "operationId" : "getOrganizationFileData",
        "produces" : [ "application/octet-stream" ],
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "fileId",
          "in" : "path",
          "description" : "file id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an organization file data",
            "schema" : {
              "type" : "string",
              "format" : "binary"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/menus" : {
      "get" : {
        "tags" : [ "Menus" ],
        "summary" : "Lists organizations menus",
        "description" : "Lists organizations menus\n",
        "operationId" : "listOrganizationMenus",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "slug",
          "in" : "query",
          "description" : "Filter with slug",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a list of organizations menus",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Menu"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/menus/{menuId}" : {
      "get" : {
        "tags" : [ "Menus" ],
        "summary" : "Finds organizations menu",
        "description" : "Finds single organization menu\n",
        "operationId" : "findOrganizationMenu",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "menuId",
          "in" : "path",
          "description" : "menu id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a single organization menu",
            "schema" : {
              "$ref" : "#/definitions/Menu"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/menus/{menuId}/items" : {
      "get" : {
        "tags" : [ "Menus" ],
        "summary" : "Lists organizations menu items",
        "description" : "Lists organization menu items\n",
        "operationId" : "listOrganizationMenuItems",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "menuId",
          "in" : "path",
          "description" : "menu id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a list of organizations menu items",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/MenuItem"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/menus/{menuId}/items/{menuItemId}" : {
      "get" : {
        "tags" : [ "Menus" ],
        "summary" : "Finds organization menu item",
        "description" : "Finds single organization menu item\n",
        "operationId" : "findOrganizationMenuItem",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "menuId",
          "in" : "path",
          "description" : "menu id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "menuItemId",
          "in" : "path",
          "description" : "menu item id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a single organization menu item",
            "schema" : {
              "$ref" : "#/definitions/MenuItem"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/news" : {
      "get" : {
        "tags" : [ "News" ],
        "summary" : "Lists organizations news",
        "description" : "Lists organizations news\n",
        "operationId" : "listOrganizationNews",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "publishedBefore",
          "in" : "query",
          "description" : "return only news published before the date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "publishedAfter",
          "in" : "query",
          "description" : "return only news published after the date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "firstResult",
          "in" : "query",
          "description" : "first index of results",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "maxResults",
          "in" : "query",
          "description" : "maximum number of results",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a list of news",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/NewsArticle"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/news/{newsArticleId}" : {
      "get" : {
        "tags" : [ "News" ],
        "summary" : "Finds organizations news article",
        "description" : "Finds organizations single news article\n",
        "operationId" : "findOrganizationNewsArticle",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "newsArticleId",
          "in" : "path",
          "description" : "News article id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a single news article",
            "schema" : {
              "$ref" : "#/definitions/NewsArticle"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/news/{newsArticleId}/images" : {
      "get" : {
        "tags" : [ "News" ],
        "summary" : "Returns list of news article images",
        "description" : "Returns list of news article images\n",
        "operationId" : "listOrganizationNewsArticleImages",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "newsArticleId",
          "in" : "path",
          "description" : "News article id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a news article images",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Attachment"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/news/{newsArticleId}/images/{imageId}" : {
      "get" : {
        "tags" : [ "News" ],
        "summary" : "Returns an news article image",
        "description" : "Returns an news article image\n",
        "operationId" : "findOrganizationNewsArticleImage",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "newsArticleId",
          "in" : "path",
          "description" : "News article id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "imageId",
          "in" : "path",
          "description" : "Event image id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an news article image",
            "schema" : {
              "$ref" : "#/definitions/Attachment"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/news/{newsArticleId}/images/{imageId}/data" : {
      "get" : {
        "tags" : [ "News" ],
        "summary" : "Returns a news article image data",
        "description" : "Returns a news article image data\n",
        "operationId" : "getOrganizationNewsArticleImageData",
        "produces" : [ "application/octet-stream" ],
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "newsArticleId",
          "in" : "path",
          "description" : "News article id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "imageId",
          "in" : "path",
          "description" : "Event image id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Maximum width or height of image",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a news article image data",
            "schema" : {
              "type" : "string",
              "format" : "binary"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/organizationServices" : {
      "get" : {
        "tags" : [ "Organizations", "OrganizationServices" ],
        "summary" : "Organization organization service list",
        "description" : "Lists organization's organization services",
        "operationId" : "listOrganizationOrganizationServices",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "firstResult",
          "in" : "query",
          "description" : "First result",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "maxResults",
          "in" : "query",
          "description" : "Max results",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of organization services",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/OrganizationService"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Organizations", "OrganizationServices" ],
        "summary" : "Create organization service",
        "description" : "Create organization service",
        "operationId" : "createOrganizationService",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OrganizationService"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Created organization service",
            "schema" : {
              "$ref" : "#/definitions/Organization"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/organizationServices/{organizationServiceId}" : {
      "get" : {
        "tags" : [ "Organizations", "OrganizationServices" ],
        "summary" : "Finds a organization service by id",
        "description" : "Find an organization service",
        "operationId" : "findOrganizationService",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "organizationServiceId",
          "in" : "path",
          "description" : "Organization service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "An organization service",
            "schema" : {
              "$ref" : "#/definitions/OrganizationService"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Organizations", "OrganizationServices" ],
        "summary" : "Updates an organization service",
        "description" : "Updates organization service",
        "operationId" : "updateOrganizationService",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "organizationServiceId",
          "in" : "path",
          "description" : "Organization service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/OrganizationService"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An updated organization service",
            "schema" : {
              "$ref" : "#/definitions/OrganizationService"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/pages" : {
      "get" : {
        "tags" : [ "Pages" ],
        "summary" : "Lists organizations pages",
        "description" : "Lists organizations pages\n",
        "operationId" : "listOrganizationPages",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "parentId",
          "in" : "query",
          "description" : "Filter results by parent id",
          "required" : false,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "path",
          "in" : "query",
          "description" : "Filter results by page path",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a list of pages",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Page"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/pages/{pageId}" : {
      "get" : {
        "tags" : [ "Pages" ],
        "summary" : "Finds organizations page",
        "description" : "Finds single organization page\n",
        "operationId" : "findOrganizationPage",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "pageId",
          "in" : "path",
          "description" : "page id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a single organization page",
            "schema" : {
              "$ref" : "#/definitions/Page"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/pages/{pageId}/content" : {
      "get" : {
        "tags" : [ "Pages" ],
        "summary" : "Returns organizations page content in all available languages",
        "description" : "Returns single organization page content in all available languages\n",
        "operationId" : "findOrganizationPageContent",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "pageId",
          "in" : "path",
          "description" : "page id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns single page content in all available languages",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/LocalizedValue"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/pages/{pageId}/images" : {
      "get" : {
        "tags" : [ "Pages" ],
        "summary" : "Returns a list of organization page images",
        "description" : "Returns a list of organization page images\n",
        "operationId" : "listOrganizationPageImages",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "pageId",
          "in" : "path",
          "description" : "Page id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns list of organization page images",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Attachment"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/pages/{pageId}/images/{imageId}" : {
      "get" : {
        "tags" : [ "Pages" ],
        "summary" : "Returns a single organiztion page image",
        "description" : "Returns a single organiztion page image\n",
        "operationId" : "findOrganizationPageImage",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "pageId",
          "in" : "path",
          "description" : "Page Id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "imageId",
          "in" : "path",
          "description" : "Page image id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an organization page image",
            "schema" : {
              "$ref" : "#/definitions/Attachment"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/pages/{pageId}/images/{imageId}/data" : {
      "get" : {
        "tags" : [ "Pages" ],
        "summary" : "Returns an organization page image data",
        "description" : "Returns an organization page image data\n",
        "operationId" : "getOrganizationPageImageData",
        "produces" : [ "application/octet-stream" ],
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "pageId",
          "in" : "path",
          "description" : "Page id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "imageId",
          "in" : "path",
          "description" : "Page image id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Maximum width or height of image",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an organization page image data",
            "schema" : {
              "type" : "string",
              "format" : "binary"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/settings/" : {
      "get" : {
        "tags" : [ "Settings" ],
        "summary" : "Lists organizations settings",
        "description" : "Lists organizations settings\n",
        "operationId" : "listOrganizationSettings",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "key",
          "in" : "query",
          "description" : "Setting key",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a list of settings",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/OrganizationSetting"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Settings" ],
        "summary" : "Creates organization setting",
        "description" : "Creates organization setting\n",
        "operationId" : "createOrganizationSetting",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "in" : "body",
          "name" : "setting",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationSetting"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns create organization setting",
            "schema" : {
              "$ref" : "#/definitions/OrganizationSetting"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/settings/{settingId}" : {
      "get" : {
        "tags" : [ "Settings" ],
        "summary" : "Finds organizations setting",
        "description" : "Finds single organization setting\n",
        "operationId" : "findOrganizationSetting",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "settingId",
          "in" : "path",
          "description" : "Setting id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a single organization setting",
            "schema" : {
              "$ref" : "#/definitions/OrganizationSetting"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Settings" ],
        "summary" : "Updates an organization setting",
        "description" : "Updates an organization setting\n",
        "operationId" : "updateOrganizationSetting",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "settingId",
          "in" : "path",
          "description" : "Setting id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "in" : "body",
          "name" : "setting",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/OrganizationSetting"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a single an updated organization setting",
            "schema" : {
              "$ref" : "#/definitions/OrganizationSetting"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Settings" ],
        "summary" : "Deletes an organization setting",
        "description" : "Deletes an organization setting\n",
        "operationId" : "deleteOrganizationSetting",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "settingId",
          "in" : "path",
          "description" : "Setting id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful removal"
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/tiles" : {
      "get" : {
        "tags" : [ "Tiles" ],
        "summary" : "Lists organizations tiles",
        "description" : "Lists organizations tiles\n",
        "operationId" : "listOrganizationTiles",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a list of tiles",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Tile"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/tiles/{tileId}" : {
      "get" : {
        "tags" : [ "Tiles" ],
        "summary" : "Finds organizations tile",
        "description" : "Finds single organization tile\n",
        "operationId" : "findOrganizationTile",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "tileId",
          "in" : "path",
          "description" : "tile id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a single organization tile",
            "schema" : {
              "$ref" : "#/definitions/Tile"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/tiles/{tileId}/images" : {
      "get" : {
        "tags" : [ "Tiles" ],
        "summary" : "Returns a list of organization tile images",
        "description" : "Returns a list of organization tile images\n",
        "operationId" : "listOrganizationTileImages",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "tileId",
          "in" : "path",
          "description" : "Tile id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns list of organization tile images",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Attachment"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/tiles/{tileId}/images/{imageId}" : {
      "get" : {
        "tags" : [ "Tiles" ],
        "summary" : "Returns a single organiztion tile image",
        "description" : "Returns a single organiztion tile image\n",
        "operationId" : "findOrganizationTileImage",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "tileId",
          "in" : "path",
          "description" : "Tile Id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "imageId",
          "in" : "path",
          "description" : "Tile image id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an organization tile image",
            "schema" : {
              "$ref" : "#/definitions/Attachment"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/tiles/{tileId}/images/{imageId}/data" : {
      "get" : {
        "tags" : [ "Tiles" ],
        "summary" : "Returns an organization tile image data",
        "description" : "Returns an organization tile image data\n",
        "operationId" : "getOrganizationTileImageData",
        "produces" : [ "application/octet-stream" ],
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "tileId",
          "in" : "path",
          "description" : "Tile id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "imageId",
          "in" : "path",
          "description" : "Tile image id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Maximum width or height of image",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an organization tile image data",
            "schema" : {
              "type" : "string",
              "format" : "binary"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/services" : {
      "get" : {
        "tags" : [ "Services" ],
        "summary" : "Service list",
        "description" : "Lists services",
        "operationId" : "listServices",
        "parameters" : [ {
          "name" : "firstResult",
          "in" : "query",
          "description" : "First result",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "maxResults",
          "in" : "query",
          "description" : "Max results",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of services",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Service"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Services" ],
        "summary" : "Create service",
        "description" : "Creates new service",
        "operationId" : "createService",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Service"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Created service",
            "schema" : {
              "$ref" : "#/definitions/Service"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/services/{serviceId}" : {
      "get" : {
        "tags" : [ "Services" ],
        "summary" : "Finds a service by id",
        "description" : "Finds service",
        "operationId" : "findService",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns a service",
            "schema" : {
              "$ref" : "#/definitions/Service"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Services" ],
        "summary" : "Updates service",
        "description" : "Updates service",
        "operationId" : "updateService",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Organization service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Service"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns an updated service",
            "schema" : {
              "$ref" : "#/definitions/Service"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/services/{serviceId}/electronicChannels" : {
      "get" : {
        "tags" : [ "Services", "ElectronicChannels" ],
        "summary" : "Lists ElectronicChannels by serviceId",
        "description" : "Lists ElectronicChannels by serviceId",
        "operationId" : "listServiceElectronicChannels",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "firstResult",
          "in" : "query",
          "description" : "First result",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "maxResults",
          "in" : "query",
          "description" : "Max results",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns array of ElectronicChannels",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ElectronicChannel"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Services", "ElectronicChannels" ],
        "summary" : "creates ElectronicChannel",
        "description" : "creates ElectronicChannel",
        "operationId" : "createServiceElectronicChannel",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ElectronicChannel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns created ElectronicChannel",
            "schema" : {
              "$ref" : "#/definitions/ElectronicChannel"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/services/{serviceId}/electronicChannels/{electronicChannelId}" : {
      "get" : {
        "tags" : [ "Services", "ElectronicChannels" ],
        "summary" : "finds ElectronicChannel by electronicChannelId",
        "description" : "finds ElectronicChannels by electronicChannelId",
        "operationId" : "findServiceElectronicChannel",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "electronicChannelId",
          "in" : "path",
          "description" : "electronicChannel id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns ElectronicChannel",
            "schema" : {
              "$ref" : "#/definitions/ElectronicChannel"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Services", "ElectronicChannels" ],
        "summary" : "Updates ElectronicChannel",
        "description" : "Updates ElectronicChannel",
        "operationId" : "updateServiceElectronicChannel",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "electronicChannelId",
          "in" : "path",
          "description" : "electronicChannel id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ElectronicChannel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns updated ElectronicChannel",
            "schema" : {
              "$ref" : "#/definitions/ElectronicChannel"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/services/{serviceId}/phoneChannels" : {
      "get" : {
        "tags" : [ "Services", "PhoneChannels" ],
        "summary" : "Lists PhoneChannels by serviceId",
        "description" : "Lists PhoneChannels by serviceId",
        "operationId" : "listServicePhoneChannels",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "firstResult",
          "in" : "query",
          "description" : "First result",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "maxResults",
          "in" : "query",
          "description" : "Max results",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns array of PhoneChannels",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/PhoneChannel"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Services", "PhoneChannels" ],
        "summary" : "creates PhoneChannel",
        "description" : "creates PhoneChannel",
        "operationId" : "createServicePhoneChannel",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PhoneChannel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns created PhoneChannel",
            "schema" : {
              "$ref" : "#/definitions/PhoneChannel"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/services/{serviceId}/phoneChannels/{phoneChannelId}" : {
      "get" : {
        "tags" : [ "Services", "PhoneChannels" ],
        "summary" : "finds PhoneChannel by phoneChannelId",
        "description" : "finds PhoneChannels by phoneChannelId",
        "operationId" : "findServicePhoneChannel",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "phoneChannelId",
          "in" : "path",
          "description" : "phoneChannel id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns PhoneChannel",
            "schema" : {
              "$ref" : "#/definitions/PhoneChannel"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Services", "PhoneChannels" ],
        "summary" : "Updates PhoneChannel",
        "description" : "Updates PhoneChannel",
        "operationId" : "updatePhoneChannel",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "phoneChannelId",
          "in" : "path",
          "description" : "phoneChannel id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PhoneChannel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns updated PhoneChannel",
            "schema" : {
              "$ref" : "#/definitions/PhoneChannel"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/services/{serviceId}/printableFormChannels" : {
      "get" : {
        "tags" : [ "Services", "PrintableFormChannels" ],
        "summary" : "Lists PrintableFormChannels by serviceId",
        "description" : "Lists PrintableFormChannels by serviceId",
        "operationId" : "listServicePrintableFormChannels",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "firstResult",
          "in" : "query",
          "description" : "First result",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "maxResults",
          "in" : "query",
          "description" : "Max results",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns array of PrintableFormChannels",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/PrintableFormChannel"
              }
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Services", "PrintableFormChannels" ],
        "summary" : "creates PrintableFormChannel",
        "description" : "creates PrintableFormChannel",
        "operationId" : "createServicePrintableFormChannel",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Payload",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PrintableFormChannel"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns created PrintableFormChannel",
            "schema" : {
              "$ref" : "#/definitions/PrintableFormChannel"
            }
          },
          "400" : {
            "description" : "Invalid request was sent to the server",
            "schema" : {
              "$ref" : "#/definitions/BadRequest"
            }
          },
          "403" : {
            "description" : "Attempted to make a call with unauthorized client",
            "schema" : {
              "$ref" : "#/definitions/Forbidden"
            }
          },
          "404" : {
            "description" : "Resource was not found from the server",
            "schema" : {
              "$ref" : "#/definitions/NotFound"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/InternalServerError"
            }
          }
        }
      }
    },
    "/services/{serviceId}/printableFormChannels/{printableFormChannelId}" : {
      "get" : {
        "tags" : [ "Services", "PrintableFormChannels" ],
        "summary" : "finds PrintableFormChannel by printableFormChannelId",
        "description" : "finds PrintableFormChannels by printableFormChannelId",
        "operationId" : "findServicePrintableFormChannel",
        "parameters" : [ {
          "name" : "serviceId",
          "in" : "path",
          "description" : "Service id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "printableFormChannelId",
          "in" : "path",
          "description" : "printableFormChannel id",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns PrintableFormChannel",
            "schema" : {
[...]
